* {
  margin: 0;
  padding: 0;
  font-family: Capriola;
}

/* Navbar */
.navbar {
  color: white;
  width: 100%;
}

.navbar-inverse {
  background-color: #000;
}

.dropdown-menu {
  background-color: black;
}

.dropdown-menu a {
  color: white;
}

.collapse {
  float: right;
}

.nav-item a {
  margin-right: 40px;
}

/* Carousel */
.carousel {
  width: 100%;
}

.carousel-item img {
  width: 500px;
  height: 800px;
}

.carousel-inner {
  background-color: #1e2d2f;
}

/* Product */

.card-text {
  text-align: center;
  font-size: 40px;
}

.card-db {
  text-align: center;
}

.card-img-top {
  width: 100%;
}

/* Line in Title Text */
.col {
  letter-spacing: 5px;
  font-weight: normal;
  margin: 30px 50px 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid #1e2d2f;
  color: #1e2d2f;
}

/*Responsive tablet*/
@media (max-width: 1024px) {
  /* Carousel */
  .carousel-item img {
    height: 520px;
  }

  /* Product */
  .card-text {
    font-size: 30px;
  }

  /* Footer */
  footer {
    height: 200px;
  }
}

/* Responsive handphone */
@media (max-width: 640px) {
  /* Carousel */
  .carousel-item img {
    width: 400px;
    height: 380px;
  }

  /* Product */
  .card {
    margin-bottom: 20px;
  }

  /* Footer */
  footer {
    height: 190px;
  }
}
